{volist name='infoList' id='vo'}
{if $vo['wall']['status']==1}
{if $vo['qq']==1}
<div {if $vo['sex']=='女'} class="box" {else /} class="box blue" {/if}>

<div class="user">

    <span style="color:white;">{$vo['nickname']}</span>

    <img src="{$vo['img']}" width="50" heigth="50">

</div>

<div class="content" style="color:white;">

    {$vo['text']|raw}
</div>
<<div class="time text-muted">
  {$vo["time"]|date='m.d H:i'}
</div>
/div>

{else /}
 <a href="outwall/id/{$vo['id']}" class="content" style="color:black;">
<div class="box" style="background-color:rgb(242,242,242); front-color:black;">

    <div class="user">

      
        <img src="{$vo['wall']['img']}" width="50" heigth="50">

    </div>

    <div>
       
            {$vo['text']|raw}
    </div>
<div class="outtime text-muted">
  {$vo["time"]|date='m.d H:i'}
</div>
</div>
</a>
{/if}
{/if}
{/volist}
